.venv/
.idea/
__pycache__/
.ipynb_checkpoints/

# data 하위 폴더들의 구조는 유지하되 데이터 파일만 무시
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/test/*
!data/test/.gitkeep

# 특정 확장자 전체 무시
*.docx
*.js